.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.blogList{
  text-align: center;
}

.blogBody{
  text-align: left;
  min-height: 100vh;
  padding: 6rem;
}

.blogPageTitle{
  padding-bottom: 5px;
}

.blogPageDate{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}