.main {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.blogList {
  text-align: left;
  width: 100%;
}

.blogBody{
  text-align: left;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.blogPageTitle{
  padding-bottom: 5px;
}

.blogPageDate{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
